/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efab18;
    padding: 1rem;
  }
  
  .navbar-logo a {
    color: black;
    font-size: 1.8rem;
    text-decoration: double;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-left: 2rem;
  }
  
  .navbar-links a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
  }
  
  .navbar-links a:hover {
    color: #ddd;
  }
  .navbar-links a.active {
  background-color: white;
  color: #e74c3c;
  font-weight: bold;
}

